<%= stylesheet_link_tag "medico_cadastro", media: "all" %>

<div id="topo">
  <img src="/assets/medko-02.png">
</div>

<h2> Registre-se </h2>

<%= form_for(resource ,as: resource_name, url: registration_path(resource_name),html: {multipart: true}) do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "erros") %> encontrados:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  
 <div class="fundo">
    <div class ="campos">
<br>
  <h1>Dados pessoais</h1>

      <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon" >
            <img id="avatar_show" src="/assets/user.png"/>
          </div>


    <div class="field">
      <%= f.text_field :name, :placeholder => "Nome"%>
    
      <%= f.text_field :crm, :placeholder => "CRM"%>
    
      <%= f.text_field :telephone, :placeholder => "Telefone"%>
    </div>

     <label id="classificacao">Aceito exibir classificação 
    <%= f.check_box :rating, value: "0", checked:true %></label><br><br>

       <div class="field" >
          <%= f.email_field :email, :placeholder => "E-mail" %>
          
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %><br/>

          <%= f.password_field :password, autocomplete: "off", :placeholder => "Senha" %>

          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirmar senha"%>
      </div>
<br>
<br>
  <h1>Endereço</h1>

    <div class="field">
      <%= f.text_field :zip_code, :placeholder => "Cep", :id => "zip_code"%>
    
      <%= f.text_field :address, :placeholder => "Endereço", :id => "endereco"%>
    </div>

<br>
<br>

 <h1>Dados de atendimento </h1>

<div class="field">
   
  <%= collection_select 'user', 'speciality_ids',
        Speciality.all.map,:id, :name,
        { :selected => @user.speciality_ids}, 
        { :name =>'user[speciality_ids][]',:class=>'especialidade',:multiple=>"multiple"}%>
<br>
  <%= collection_select 'user', 'exam_type_ids',
        ExamType.all.map,:id, :name, 
        {:selected => @user.exam_type_ids},
        {:name =>'user[exam_type_ids][]',class:'exame',:multiple=>"multiple"} %>
</div>
    <%= f.number_field :value_home_care, :placeholder => "Valor da consulta a domicílio",:step => 0.01  %>
<br>

   <br>

 <h1>Documentos</h1><br>
 
  <label class="custom-file-crm" for="user_crm_image" style="cursor:pointer"></label>
  <input type="file" id="user_crm_image" name="user[crm_image]" class="custom-file-crm" style="visibility: hidden"/>

  <label class="custom-file-address" for="user_proof_of_address_image" style="cursor:pointer" ></label>
  <input type="file" id="user_proof_of_address_image" name="user[proof_of_address_image]" class="custom-file-address" style="visibility: hidden"/>

 <h1>Dados Bancarios</h1>

   
  <%= f.fields_for :bank_account, resource.bank_account.build do |ff| %>

 <div class="field">
    <%= ff.text_field :bank , :placeholder => "Banco"%>
  </div>

  <div class="field">
    <%= ff.text_field :full_name , :placeholder => "Nome Completo"%>
  </div>

  <div class="field">
    <%= ff.text_field :cpf_cnpj, :placeholder => "CPF" %>
  </div>

 <div class="field">
    <%= ff.text_field :agency, :placeholder => "Agencia" %>
  </div>

  <div class="field">
    <%= ff.text_field :account, :placeholder => "Conta"%>
  </div>

  <div class="field">
    <%= ff.text_field :operation, :placeholder => "Operação" %>
  </div>

  <% end %>

  <div class="hidden_field">
   <input type="hidden" id="account_type_id" name="user[account_type_id]" value="3" />
  </div>

     <div class="hidden_field">
   <input type="hidden" id="active" name="user[active]" value="f"/>
  </div>
<br>
  <button class="but2" type="submit" onClick="alert('Voce deve aguardar um administrador ativar sua conta para usa-la')";>Cadastrar</button>
<h3> Ao criar uma conta você concorda com nossos</h3><a href="nome-do-lugar-a-ser-levado">termos e condiçoes e politicas de privacidade</a>

<% end %>


