<%= stylesheet_link_tag "specialities", media: "all" %>
<p id="notice"><%= notice %></p>

   <div class="bot_adm">
   <img src="/assets/new.png"> 
     <button class = "button_adm" type="button" onclick="window.open('/exam_types/new','_parent');";">Novo Exame</button>
   </div>
   
 <div class="exam_adm"><h1>Exames</h1></div>

<div class="preto"> </div>

 <table class="table table-striped">
  <tbody>
    <% @exam_types.each do |exam_type| %>
      <tr>
        <td> <div id="speciality_image" style="background:url(<%= exam_type.image_url.url %>);"></div></td>
        <td><%= exam_type.name %></td>
        <td><%= link_to image_tag("/assets/multimedia.png"), edit_exam_type_path(exam_type) %></td>
        <td><%= link_to image_tag("/assets/garbage.png"), exam_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

