<%= stylesheet_link_tag "specialities", media: "all" %>
<p id="notice"><%= notice %></p>


 <div class="bot_speciality">
   <img src="/assets/new.png"> 
     <button class = "button_adm" type="button" onclick="window.open('/specialities/new','_parent');";">Nova Especialidade</button>
   </div>

 <div class="exam_adm"><h1>Especialidades</h1></div>

<div class="preto"> </div>

 <table class="table table-striped">
  <tbody>
  <tr>
    <% @specialities.each do |speciality| %>

          <td>
           <div id="speciality_image" style="background:url(<%= speciality.image_url.url %>);">
          </td>

          <td>
            <%= speciality.name %>
          </td>

          <td>
            <%= link_to image_tag("/assets/multimedia.png"), edit_speciality_path(speciality) %>
          </td>

          <td>
            <%= link_to image_tag("/assets/garbage.png"), speciality, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

