<%= stylesheet_link_tag "show", media: "all" %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="profile-container"><h1 id="consultas">Visualizar usuário</h1>
  <div class ="corpo1">
	<br>
	  <div class ="avatar" style="background:url(<%= @user.avatar.url %>);"></div>
	  <div class ="user_name"><%= @user.name%></div>
	  <div class ="user_telephone"><img src="/assets/phone-receiver.png"/><%= @user.telephone %></div>
	  <div class ="user_email"><img src="/assets/close-envelope.png"/><%= @user.email %></div>
	</div>

	<div class ="corpo4">
		<label id="admin">Ativo <%= f.check_box :active%> </label>
		<div class ="block"> <%= f.text_field :blocked_message , placeholder: "Mensagem de bloqueio"%> </div>
	<br>
  	<button id="submit_block" type="submit">Confirmar bloqueio</button>

  </div>

</div>
		
<% end %>