
  <div class="bot_adm">
     <img src="/assets/new.png"> 
     <button class = "button_adm" type="button" onclick="window.open('/cadastro/adm','_parent');";">Novo Administrador</button>
   </div>
   
<h1>Usuários</h1>

<div class="preto"> </div>
  <%= form_tag users_path, :method => 'get', :id => "users_search", remote: true do %>
    <div class= "busca_user"> <%= text_field_tag :search, params[:search],:placeholder =>"Pesquisar"%> <br>
  <% end %>
    </div>

<div id="users">
<% if current_user.account_type_id == 2%>
    <%= render 'users/listusers' %>
<% end %>
</div>

<script type="text/javascript">


$(document).ready(function(event) {
 usersReady();
});

$(document).on('ready page:users', function(event) {
  usersReady();
});

var usersReady = function() {
  searchListener();
};

var searchListener = function() {

  $('#search').keyup(function() {
    $.get($("#users_search").attr("action"), $("#users_search").serialize(), null, 'script');
    return false;
});
   }
</script>