<%= stylesheet_link_tag "show", media: "all" %>

<h1>Usuários</h1>
<div class="preto"> </div> <br><br>


<% if current_user.account_type_id == 3 %>
    <%= render 'showmed' %>
<% end %>

<% if current_user.account_type_id == 1 %>
   <%= render 'showuser' %>
<% end %>

<% if current_user.account_type_id == 2 %>

	   <% if @user.account_type_id == 3 %>
    
          <ul class="tabs_med" id = "tabs_med">
              <lu id="tab" class="tabs_med"><a href="#perfil_med">Perfil</a></lu>                        
              <lu id="tab" class="tabs_med"><a href="#consultas">Consultas</a></lu>  
              <lu id="tab" class="tabs_med"><a href="#pagamentos">Pagamentos</a></lu> 
              <lu id="tab" class="tabs_med"><a href="#recebimentos">Recebimentos</a></lu>                                                    
         </ul>
 

          <div class="cont_tab" id="perfil_med">
            <%= render "users/showadmed" %>
          </div>

         <div class="cont_tab" id="consultas" >
              <%= render 'attendences/adm'%>
          </div>

          <div class="cont_tab" id="pagamentos" >
              <%= render 'payments/pagamentos'%>
          </div>

           <div class="cont_tab" id="recebimentos" >
              <%= render 'payments/recebimentos'%>
          </div>

    <% end %>

     
    <% if @user.account_type_id == 1 %>

        <ul class="tabs" id = "menu">
            <lu id="tab" ><a href="#Perfil">Perfil</a></lu>                        
            <lu id="tab"><a href="#Consultas">Consultas</a></lu>                                                     
       </ul>

        <div class="cont_tab" id="Perfil">
          <%= render "users/showadm" %>
        </div>

        <div class="cont_tab" id="Consultas" >
            <%= render 'attendences/adm'%>
        </div>

    <% end %>

<% end %>
