<%= stylesheet_link_tag "service_windows", media: "all" %>


<%= form_for(@service_window, html: {multipart: true}) do |f| %>

  <%= f.hidden_field :week_day, id:"week_day"%>

    <div class="field">

    <div class="textos"><%= f.label :Tempo_de_consulta %></div><br>
    
    <%= f.number_field :service_time,class: "time",:required => true%><div class="textos2">Minutos</div><br> <br> 

    <div class="textos"><%= f.label :Horario_de_atendimento %></div><br>

    <%= f.time_select :start_time,:time_separator => ""%><div class ="textos2"> — </div>

    <%= f.time_select :end_time,:time_separator => ""%>
  </div>

   <hr width=98% ><br>

 <div class="field">
     <%= f.number_field :value,class: "pag",:step => '0' %><div class="textos2"> Valor da consulta</div>
</div>
<br>
   <div class="field">
       <%= f.collection_select :place_id, Place.where(user_id: current_user), :id, :name,{},class:"select-local"%>
       </div>
  
   <div class="field">
     <%= f.collection_select :exam_type_id, ExamType.all, :id, :name,{include_blank: true},class:"exame"%>
  </div>

    <div class="field">
       <%= f.collection_select :speciality_id, Speciality.all, :id, :name,{include_blank: true},class:"especialidade"%>
    </div>

 <div class="field">
  <%= collection_select 'service_window', 'payment_method_ids',
        PaymentMethod.all.map,:id, :name, 
        { :selected => @service_window.payment_method_ids,:id => "tag-select"}, 
        { :name =>'service_window[payment_method_ids][]',class:'pagamento',:multiple=>"multiple"} %>
</div>



       <div class="field">
  <%= collection_select 'service_window', 'health_plan_ids',
        HealthPlan.all.map,:id, :name, 
        { :selected => @service_window.health_plan_ids,:id => "tag-select"}, 
        { :name =>'service_window[health_plan_ids][]',class:'plano',:multiple=>"multiple"} %>
</div>



<div class="bot7" >
<img src="/assets/plus.png" >
<button class="bot7" type="submit" style="cursor:pointer">Cadastrar</button>

</div>

<% end %> 