<%= form_for(@receipt_period) do |f| %>
  <% if @receipt_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt_period.errors.count, "error") %> prohibited this receipt_period from being saved:</h2>

      <ul>
      <% @receipt_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :accompliched %><br>
    <%= f.check_box :accompliched %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
