<p id="notice"><%= notice %></p>

<h1>Listing Receipt Periods</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Accompliched</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipt_periods.each do |receipt_period| %>
      <tr>
        <td><%= receipt_period.start_date %></td>
        <td><%= receipt_period.end_date %></td>
        <td><%= receipt_period.accompliched %></td>
        <td><%= receipt_period.user %></td>
        <td><%= link_to 'Show', receipt_period %></td>
        <td><%= link_to 'Edit', edit_receipt_period_path(receipt_period) %></td>
        <td><%= link_to 'Destroy', receipt_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt period', new_receipt_period_path %>
