<p id="notice"><%= notice %></p>

<h1>Listing Bank Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Full name</th>
      <th>Cpf cnpj</th>
      <th>Account</th>
      <th>Operation</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_accounts.each do |bank_account| %>
      <tr>
        <td><%= bank_account.bank %></td>
        <td><%= bank_account.full_name %></td>
        <td><%= bank_account.cpf_cnpj %></td>
        <td><%= bank_account.account %></td>
        <td><%= bank_account.operation %></td>
        <td><%= bank_account.user %></td>
        <td><%= link_to 'Show', bank_account %></td>
        <td><%= link_to 'Edit', edit_bank_account_path(bank_account) %></td>
        <td><%= link_to 'Destroy', bank_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bank account', new_bank_account_path %>
