<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead class= "titulos_user">
    <tr>
    <th><div class="payment_th">Périodo</div></th>
    <th><div class="payment_th">Valores</div></th>
    <th><div class="payment_th">Boleto</div></th>
    <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
    <% if payment.payment_period.try(:start_date) != nil%>
          <td> 
          <div class="payment_text">
          <input type="hidden" id="payment_id" value="<%= payment.payment_period.id %>"/>
             Inicio: <%= payment.payment_period.try(:start_date).strftime("%d/%m/%Y") %>
          </div>  
          <div class="payment_text"> 
           Fim:   <%=payment.payment_period.try(:end_date).strftime("%d/%m/%Y") %> 
          </div>  
          </td>


         <td>
           <div class="payment_text">
            Valor das consultas nesse periodo: <%= number_to_currency_br(payment.price)%>
           </div>
              
          <div class="payment_text">
          <input type="hidden" id="payment_value" value="<%= payment.payment_period.try(:value) %>"/>
            Valor de utilização nesse periodo: <%= number_to_currency_br(payment.payment_period.try(:value)) %>
        </div>
          </td>

          <td>
            <div class="pdf_image"><%= link_to image_tag("/assets/file.png")%></div>
          </td>

           <td>
           <% if payment.payment_period.try(:accomplished) != true %>
            <div class="realizar_payment">
            <input type="button" value="Realizado" class="realizar" id ="button_payment"></input>
            </div>
            <% else %>
            <div class="realizar_checked">
                <img src="/assets/checked-mark.png"/>
            </div>
            <% end %>    
          </td>
      </tr>
    <% end %>
  </tbody>
<% end %>  
</table>


<script type="text/javascript">

$(".realizar").on("click", function() {
          var id = $('#payment_id').val(); 

          $.ajax({
              type: "post",
              url: "/payment/confirm",
              data: {payment: {id}},
              success: function (){
              window.location.reload()
             }
          });
      });


$('.pdf_image').on("click", function() {
          var payment = $('#payment_value').val(); 

          $.ajax({
              type: "get",
              url: "/payment/billet",
              data: {payment},
              success: function (data){
                window.location = "/payment/billet?payment=" + payment
            }
          });
      });
</script>
