<%= stylesheet_link_tag "payments", media: "all" %>
<p id="notice"><%= notice %></p>

<h1>Financeiro</h1>
<div class="preto"> </div> <br><br>

   <ul class="tabs" id = "menu">
    <lu id="tab1" ><a href="#pagamentos">Pagamentos</a></lu>                        
    <lu id="tab2"><a href="#recebimentos">Recebimentos</a></lu>                                                        
   </ul>

    <%= form_tag payments_path, :method => 'get', :id => "payments_search", remote: true do %>
    
      <div id="search-text">
       <%= text_field_tag :search, params[:search], :autocomplete => :off, :placeholder =>"Pesquisar"%>
      </div>

    <% end %>


</div>
<div id="payments">
  <div class="cont_tab" id="pagamentos">
  <% if current_user.account_type_id == 3 %>
    <%= render "payments/pagamentos" %>
  <% else %>
    <%= render "payments/pagamentosadm" %>
  <% end %>
  </div>

  <div class="cont_tab" id="recebimentos">
   <% if current_user.account_type_id == 3 %>
    <%= render 'payments/recebimentos'%>
  <% else %>  
    <%= render 'payments/recebimentosadm'%>
  <% end %>
  </div>  
</div>
<br>

<br>


<script type="text/javascript">


  
$(document).ready(function(event) {
 usersReady();
});

$(document).on('ready page:payments', function(event) {
  usersReady();
});

var usersReady = function() {
  searchListener();
};

var searchListener = function() {

  $('#search').keyup(function() {
    $.get($("#payments_search").attr("action"), $("#payments_search").serialize(), null, 'script');
    return false;
});
   }
</script>