<div id="topo">
  <img src="/assets/medko-02.png">
</div>

<h2>Mude sua senha</h2>
<div class="fundo3">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field"> <br><br>
    <% if @minimum_password_length %>
      <em>( digite no mínimo <%= @minimum_password_length %> caracteres.)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder:"Nova senha", size: "400"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirme sua nova senha" %>
  </div>

  <div class="actions">
   <button class="but3" type="submit">Redefinir senha</button>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>