<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div id="topo">
  <img src="/assets/medko-02.png">
</div>
<h2>Esqueci a senha</h2>
<div class="fundo3">
<br>
    <%= f.email_field :email, autofocus: true, placeholder:"e-mail"%> <button class="but3" type="submit">Redefinir senha</button><br><br>
    <h4> insira o e-mail que você utilizou no cadastro e enviaremos um link para você redefinir sua senha <h4><br>
    
    </div>
<% end %>


