body {
    text-align: center;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.table-striped tbody tr:nth-child(odd) td, .ls-table-striped.ls-bg-header tr:nth-child(even) td {
    background: #f7f7f7;
    width: 30%;


}
.table tbody tr:last-child td, .ls-table tbody tr:last-child th {
    border-bottom: none;

}
.table td, .ls-table th {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.table td:hover {
    font-weight:normal;
}

.table td a:hover {
    font-weight:900;
}

.cont_tab {
    width: 95%;
    margin: auto;
}

.dados_user img{
	width: 40px;
	height: 40px;
	float:left;
	margin-right: 5px;
	margin-top: -3px;
}

.dados_user a{
	color:#63ba9c;
	font-size: 19px;
}

.data_attendence img{
	width: 35px;
	height: 35px;
	float:left;
	margin-right: 5px;
	margin-top: -9px;
}

.data_attendence{
	margin-top: 9px;
}

.local_attendece img{
	width: 40px;
	height: 40px;
	float:left;
	margin-right: 5px;
	margin-top: -15px;
}

.consul{
    color: #D3D3D3;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-decoration: none;
    float:left; 
    margin-top: 3px;
    margin-left: 3px;    
}

input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 400px;
    height: 43px;
    font-size: 18px;
    margin-top: 0px;
    border: none;
    margin-right: 10px;
    text-align: left;
    padding: 2px;
}

.busca_datas img{
	width: 35px;
	height: 35px;
	position: relative;
	margin-left: 7px;
	margin-right: 10px;
	float:left;
	margin-top: -5px;
}

.busca_inico{
	float:left;
	margin-right: 5px;
	margin-top: 3px;
}

.busca_datas{
 float: left;
 margin-left:390px;
 color: #63ba9c;
 margin-top: 5px;
}

#inicio {
    background-color: #f7f7f7;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 2px inset;
    float:left;
}

#fim{
	background-color:  #f7f7f7;
	width: 100px;
	height: 30px;
	font-size: 12px;
	border: 2px inset;
	float:left;
}

#search-botão{
background-color: #63ba9c;
padding: 7px 27px;
color:#fff;
font-size: 23px;
border:none;
}

.search-booton{
	float:right;
	margin-right:330px;
	
}
/* =============== Estilo das estrelas =============== */

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}

/* =============== Estilos do show =============== */

#consultas{
  margin-top: 14px;
  color:#63ba9c;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  margin-left: 39px;
}

.classifique {
    color: #63ba9c;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    margin-left: 26px;
    margin-bottom: 5px;
}


.preto2 {
    background: #111;
    width: 100%;
    height: 13px;
    margin-top: 45px;
}

.consulta_show {
    color: #D3D3D3;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    text-decoration: none;
    float: left;
    margin-top: -45px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.name{
	color:#63ba9c;
	font-size: 23px;
}
.div{
	display:block;
	width:500px;
	height:500px;
	background-size: cover;
	border: 1px solid #ffffff;
	border-radius:50%;
}

.avatar_down{
	text-align: left;
	margin-top: 185px;
	border: 1px solid #ffffff;
}

.paciente_nome a {
    color: #63ba9c;
    text-decoration: none;
}
.verticalLine {
	text-align: center;
}

h1 {
    color: #63ba9c;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

.avatar_show {
    display: block;
    width: 180px;
    height: 180px;
    background-size: cover !important;
    background-position: center center !important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: left;
    margin-left: 45px;
    margin-top: -20px;
}

.consulta_local{
	font-size: 11px;
	text-align: left;
	position: inline;
}

.corpo3{
	width: 49%;
	float: left;

	border-right: 2px solid #BEBEBE
	
}

.corpo4{
	width: 49%;
	height: 50px;
	margin-top: 12px;
	float:left;
}

#profile-container{
	display:block;
	width:29%;
	height:100%;
	margin-left: -200px;
	left:45%;
	position:absolute;
}

.cancelar{
	background-color: #492566;
	border:none;
	padding: 11px 60px;
	color:#fff;
	float: right;
    margin-right: -10px;
	font-size: 20px;
	
}

.pagseguro a {
    background-color: #63ba9c;
    border: none;
    padding: 13px 35px;
    color: #fff;
    float: right;
    margin-right: -60px;
    font-size: 19px;
    text-decoration: none;
}

#cancelar4 a {
    color: #fff;
    text-decoration: none;
    background-color: #492566;
    border: none;
    color: #fff;
    float: left;
    text-align: center;
    padding: 12px 26px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: -47px;
}

#cancelar2{
	background-color: #492566;
	border:none;
	color:#fff;
	float:right;
    margin-right: 20px;
    margin-top: 8px;
	font-size: 20px;
}

.opener{
	width:140px;
	height:48px;
	border:none;
	float:left;
	margin-right: 5px;
}

.address_local{
	font-size: 12px;
}

.finalizar{
	 background-color: #63ba9c;
    border: none;
    padding: 10px 25px;
    color: #fff;
    float: right;
    margin-right: -12px;
    font-size: 19px;
}

#cancelar_opner2{
	color:#fff;
	text-decoration: none;
	background-color: #492566;
	border:none;
	color:#fff;
	float: left;
	text-align: center;
	padding: 12px 27px;
	font-size: 20px;
	margin-left: 55px;
}


#cancelar a{
	color:#fff;
	text-decoration: none;
	background-color: #492566;
	border:none;
	color:#fff;
	float: left;
	text-align: center;
	padding: 12px 27px;
	font-size: 20px;
}

.opener2{
	width:140px;
	height:48px;
	border:none;
	float:left;
	margin-right: 55px;
}

#finalizar{
	background-color: #63ba9c;
	border:none;
	color:#fff;
	font-size: 20px;
	float:right;
	width: 158px;
    height: 48px;
    margin-right: -80px;
	margin-top: -48px;
}

.show_times img{
	width: 28px;
	height: 28px;
	margin-right: 15px;
	margin-top: 2px;
	vertical-align:middle;
}

.show_times {
	font-size: 18px;
	height:40px;
	width:100%;
	color:#BEBEBE;
	text-align: left;
	margin-left: 5px;

}

.object-profile{
	font-size: 20px;
	display:block;
	height:40px;
	width:100%;
	margin-top:  0px;
	margin-left: 20px;
	color:#BEBEBE;
	text-align: left;
}
.object-profile:first-child{
	color:#BEBEBE;
}
.object-profile img{
	margin-left: 15px;
	width:28px;
	height:28px;
	margin-right:5px;
	float:left; 
	text-align: center;
}
.ui-dialog .ui-dialog-title {
    float: none;
    text-align: center;
    margin: .1em 0;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-widget-header {
    border: none;
    background: #fff;
    color: #222222;
    font-weight: normal;
    text-align: center;
}


/* =============== Estilos dos radios box Google Chrome  =============== */

.show_times input[type='radio'] {
-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-webkit-appearance: none;
-webkit-margin-start: 0;
-webkit-margin-end: 3px;
-moz-transition: border 500ms;
-moz-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-moz-appearance: none;
-moz-margin-start: 0;
-moz-margin-end: 3px;
-moz-transition: border 500ms;
background: -webkit-linear-gradient(#fafafa, #dcdcdc);
background: -moz-linear-gradient(#fafafa, #dcdcdc);
border-radius: 100%;
border: 1px solid #a0a0a0;
display: inline-block;
height: 15px;
margin-bottom: 0;
position: relative;
top: 3px;
vertical-align: baseline;
width: 15px;
}
.show_times input[type='radio']:disabled {
opacity: .75;
}
.show_times input[type='radio']:not(:disabled):not(:active):hover {
background: -webkit-linear-gradient(#fff, #e6e6e6);
text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.show_times input[type='radio']:not(:disabled):active {
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
background: -webkit-linear-gradient(#f0f0f0, #bebebe);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
background: -moz-linear-gradient(#f0f0f0, #bebebe);
border: 1px solid #808080;
text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.show_times input[type='radio']:checked::before {
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
-webkit-margin-start: 4px;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
-moz-margin-start: 4px;
background:  #63ba9c;
border-radius: 10px;
content: '';
display: inline-block;
font-size: 15px;
font-weight: 400;
height: 5px;
left: 0;
margin-top: 4px;
opacity: 1;
position: absolute;
top: 0;
vertical-align: top;
width: 5px;
}

.show_times input[type='radio']:checked{
background-color:  #63ba9c;
}

/* =============== Estilos dos radios box Mozila  =============== */


  


