html{
  height: 100%
}

body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%; 
    outline: 0px !important
  
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    width: 620px !important;
    position: absolute;
    z-index: 1051;
}

.fundo{
    background: url(medko.png) no-repeat center center fixed; 
  -webkit-background-size: cover fixed ;
  -moz-background-size: cover fixed ;
  -o-background-size: cover fixed; 
  background-size: cover;
  margin-top: -30px;
  height: auto;
  width: auto;
  padding-top:70px;
} 

#icon2{
  margin-left: 65px;
}

.mensagem{
background-color: #63ba9c;
background-size:30px;
font-size: 20px;
color: #fff;
margin-top: 10px;
}

#avatar_show {
    margin-top: -30px !important;
    display: block;
    width: 120px !important;
    height: 120px!important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: 290px;
}

#user_avatar{
margin-top: -20px;
size: cover; 
display:block; 
width:50px; 
height:50px; 
border:1px solid #ffffff; 
border-radius: 50%;
margin-left: 305px;
}

#submit{
background-color: #79198c;
border:none;
width: 640px;
height: 50px;
color: #fff;
font-size: 20px;
margin-bottom: 30px;
}

#editar{
  color:#DCDCDC;
  margin-top: 3px;
  margin-left: 7px;
}

.topo{
  background-color: #fff;
  height: auto;
  position: fixed;
}

h1{
  color:#63ba9c;
  font-size: 30px;
  text-decoration: none;
  text-align: left;
  margin-left: 39px;
}

.but2 {
display: inline-block;
background-color: #6c368a;
color: #fff;
padding: 0px 160px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 45px;
border: 0px;
 
}

a{
	color:#8d599e;
}


.select2-container--default ::-webkit-input-placeholder { /* WebKit browsers */
color: #fff;
}
.select2-container--default :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #fff;
}
.select2-container--default ::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #fff;
}
.select2-container--default :-ms-input-placeholder { /* Internet Explorer 10+ */
color: #fff;
}

div .campos{
  background-color: #fff;
    height: auto;
    margin: 0 auto;
  text-align: center; 
  display: block;
  width: 710px;
  }


.custom-file-crm::before {
  content: 'CRM';
  background: #fff;
  border: 1px solid #C1CDC1;
  color:#838B83;
  font-weight: 750px;
  font-size: 28px;
  padding: 10px 270px;
}
  .custom-file-crm:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-address::before {
  content: 'Comprovante de residencia';
  background: #fff;
  border: 1px solid #C1CDC1;
  color:#838B83;
  font-weight: 750px;
  padding: 10px 130px;
  font-size: 28px; 
}
  .custom-file-address:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#classificacao{
margin-right:570px;
color:#63ba9c;
}

input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 620px;
    height: 45px;
    font-size: 28px;
    margin-top: 7px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
}

input[type="email"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 620px;
    height: 40px;
    font-size: 28px;
    margin-top: 10px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 13px;
    margin-bottom: 5px !important;
}

input[type="password"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    width: 620px;
    height: 40px;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
}

input#user_value_home_care {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 620px;
    height: 42px;
    margin-top: 5px;
    font-size: 27px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="file"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 600px;
    height: 40px;
    margin-top: -10px;
    font-size: 20px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
    cursor: pointer;
}

input[type="checkbox"]{     
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 150px;
    font-size: 28px;
    margin-top: 8px;
    text-align: right;
    margin-left: -210px;
    color:#63ba9c;

}

select{     
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #C1CDC1;
    font-size: 40px;
    color:#fff;
    width: 620px;
    margin-top: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    font-size: 28px;
}

.select2-container--default .select2-selection--multiple {
    background-color: #63ba9c;
    border-radius: 4px;
    color: #fff !important;
    font-size: 28px;
    margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #63ba9c;
    cursor: default;
    float: left;
    color: #fff !important;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 28px;
    padding: 0 5px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: #63ba9c;
    border: none;
    outline: 0;
    color:#fff;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    color:#fff;
}



