body{
	text-align: right;
}
.menu{
	 padding: 10px 10px 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
 text-align: right;
}
.mdkobranco{
	float: left;
	margin-top: 10px;
}
ul.menu lu {
   font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px 10px 15px;
  color: #c5b2cf; 
  border: 0px;
  }

.menu a:focus {
		background: #492566;
	padding: 50px 25px ;
	height: 100%;
	border-bottom-left: 5px solid;
}

.menu ul lu:active {
		background: #492566;
	padding: 50px 25px ;
	height: 100%;
	border-bottom-left: 5px solid;
}

.menu a:hover {
		background: #492566;
	padding: 50px 25px ;
	height: 100%;
	border-bottom-left: 5px solid;
}


ul.menu lu a {
	color: #fff;
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-size: 23px;
}

.barra{
background-color: #64bd9e;
margin-top: -18px;
 padding: 10px 20px 15px;
  border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #492566;
}