html{
  height: 50%
}

body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 50%;     
}
input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 650px;
    height: 44px;
    font-size: 27px;
    margin-top: 5px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
    margin-right: 0px;
}
input[type="email"]{     
    background: #fafafa; 
    font-family: Helvetica, Arial, sans-serif;
   width: 650px;
    height: 37px;
    font-size: 28px;
     margin-top: 5px;
     margin-bottom: 3px;
     border:none;
     text-align: left;
     padding-left: 10px;
    padding: 13px;
}

input[type="password"]{     
    background: #fafafa; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    width: 650px;
    height: 37px;
    border:none;
  text-align: left;
  padding-left: 10px;
    padding: 10px;
}

input[type="file"]{     
    background: #fafafa; 
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 150px;
    font-size: 28px;
    margin-top: -30px;
    text-align: center;
  
}

.fundo{
    background: url(medko.png) no-repeat center center fixed; 
  -webkit-background-size: cover fixed ;
  -moz-background-size: cover fixed ;
  -o-background-size: cover fixed; 
  background-size: cover;
  margin-top: -40px;
  height: auto;
  width: auto;
  padding-top:70px;
} 

hr{
	display: inline-block;

}

h5{
	 color: #6c368a;
	 text-decoration:none;
	 margin-right: 13%;
   
}

.topo{
	background-position: fixed;
  top: 0;
  left: 0;
}

.campos{
	background-color: #fff;
	height: 100%;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	margin-left: 25%;

	}


.but2 {
display: inline-block;
background-color: #6c368a;
color: #fff;
padding: 20px 160px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 45px;
border: 0px;
 
}
  h2 {
    font-size: 42px;
    color: #fff;
    background-color: #8d599e;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 20px 20px;
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #492566;
}
  


h3{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color:#63ba9c;
}

h1{
	color:#63ba9c;
	font-size: 30px;
	text-decoration: none;
 
}


a{
	color:#8d599e;
}

#avatar_show {
    margin-top: -26px !important;
    display: block;
    width: 120px !important;
    height: 120px!important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-left: 290px;
}

#user_avatar{
margin-top: -20px;
size: cover; 
display:block; 
width:50px; 
height:50px; 
border:1px solid #ffffff; 
border-radius: 50%;
margin-left: 305px;
}

 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  border-right: 50px;
}

.custom-file-input::before {
  content: 'Escolher um avatar';
  color:#63ba9c;
  text-shadow: 1px 1px #fff;
  font-weight: 700px;
  font-size: 10pt;
  text-decoration: underline;
  text-align: center;

}
  .custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.cont_tab {
    width: 100%;
    margin: auto;
}


