html{
    height: 100%
}

body {
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%; 
    margin:0px !important;
}

.mapacampos input[type="text"]{     
    background: #fafafa; 
    font-family: Helvetica, Arial, sans-serif;
    width:400px;
    height: 43px;
    font-size: 18px;
    margin-top: 5px;
    border:none;
    float:left;
    margin-right: 4px;
    text-align: left;
    padding: 2px;
} 
   
h1 {
    color: #DCDCDC;
    margin-top: 3px;
    margin-bottom: 25px;
}

.locais_titulo{
    color: #DCDCDC;
    margin-top: 5px;
    margin-bottom: 25px;
}

.bot {
background-color: #63ba9c;
border:none;
position:absolute;
right: 1px;
top:95px;
margin-bottom: 55px;
margin-top: 3px;
}

.bot img{
float:left;
width:23px;height:23px;
margin-right:8px;
border-right: 1px solid #fff;
padding: 11px 10px;
}

.bot a{
float:right;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
color:#fff;
padding: 11px 10px;
}

.mapacampos{
   float:left;
   margin-left: 10px; 
   margin-top: 5px;
   position:absolute;
    left:1;
    z-index: 9000;
}


.but4 {
background-color: #63ba9c;
color: #fff;
padding: 11px 10px;
float:right;
margin-top: 4px;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 18px;
border:none;
}



.faixa{
    color: #111;
}

#mapa:after {
    width: 50px;
    height: 44px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('pointer.png');
    background-size: cover; /* Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

a{
    color: #111;
}
/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
    background: #fff; 
    border-top: 1px solid #ccc;
    cursor: pointer; 
    font: 15px 'Open Sans',Arial;
    width: 493px !important;
    text-align: center;
  
}
.ui-autocomplete .ui-menu-item { 
    list-style: none outside none;
    padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover { background: #fff }

.ui-autocomplete .ui-corner-all { 
    color: #111 !important;
    display: block;
}

.ui-helper-hidden-accessible{
    display: none;
}

.preto{
    background:#111;
    width: 100%;
    height:13px;
    margin-top: -15px;
}

/* =============== Estilos da tabela zebrada =============== */

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
   
}

.table-striped tbody tr:nth-child(odd) td, .ls-table-striped.ls-bg-header tr:nth-child(even) td {
    background: #f7f7f7;
    width: 100%;


}
.table tbody tr:last-child td, .ls-table tbody tr:last-child th {
    border-bottom: none;

}
.table td, .ls-table th {
    padding: 13px;
    text-align: left;
    font-size: 14px;
}

.table td:hover {
    font-weight: bold;
}

