body{
  text-align: center;
  background-color: #fdfcfc;
}

.tabs{
background-color: #b8e6d6;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
border: 0px;
padding: 10px 0px 15px;
color: #c5b2cf;
text-decoration: none;
width:100%;
height:47px;
text-align: center;
margin-top: -37px;
}

html ul.tabs lu.active {
	background: #2dc29f;
	padding: 7px 0px ;
	width: 50%;
  display: block;
}


.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em .3em;
    background: none;
    overflow: auto;
    width:500px; 
    height: 501px;
}

.agenda{
  color:#DCDCDC;
  margin-top: -2px;
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 34px;
}

h1{
   color:#DCDCDC;
   margin-top: 3px;
}


.delete{
  float:right;
  margin-top:-6px; 
  width: 25px;
  height:25px;
}
.titulos{
 text-align: center;
  font-size:13px;
  color: #2dc29f;
  margin-bottom: 7px;

}

ul.tabs lu a {
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

ul.tabs lu {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 7px 0px;
  color: #2dc29f;  
  border: 0px;
    width: 50%;
  display: block;
}
ul.tabs lu:first-child {
float:left;
}
ul.tabs lu:last-child {
float:right;
}

.bot7{
background-color: #63ba9c;
border:none;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
color:#fff;
padding: 3px 2px;
margin-top: 3px;
border-radius: 5px;
}

.bot7 img{
float:left;
width:23px;height:23px;
margin-right:8px;
border-right: 1px solid #fff;
padding: 5px 2px;
}

.opener{
display:block;
width:20px;
height:20px;
border:none;
float:right;
margin-right: 5px;
}

.atendimento {
    border-color: grey;
    width: 100%;
    height: 100%;
    margin-top:auto;
    table-layout:fixed;
    position: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.atendimento td{
    font-size: 15px;
    vertical-align: top;
}

.calendar-tab{
  border:none;
}

.calendar-tab td{
  border:none;
  border-right:1px solid #000000;
  padding:5px 10px !important;
  vertical-align: top;

}

.calendar-tab td:last-child{
  border:none;
  border-right:0px solid #000000;
}

.tabela_campos{
  background-color: white;
  box-shadow: 5px 5px 5px 5px #999;
  margin-right: 4px;
  height: 485px;
  margin-left: 4px;
  font-size: 13px;
  text-align: center;
  margin-top: -10px;
  position: top !important;
}

.tabela_campos img{
  width: 20px;
  height: 20px;
  float:left;
  margin-right: 2px;
}

select {
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #C1CDC1;
    font-size: 30px;
    color: #111;
    width: 285px;
    margin-top: 5px;
    float:left;
}
.select2-container--default .select2-selection--single { 
   font-family: Arial,Helvetica,sans-serif;
    border: 1px solid #C1CDC1 !important;
    font-size: 14px !important;
    color: #111 !important;
    width: 285px !important;
    height: 40px;
    margin-top: 5px !important;
     background-color: #63ba9c;
     color: #fff !important;
      text-align: left!important;
      float:left!important;  
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 35px;
}


.textos{
  float:left;
}

.textos2{
  float:left;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 1px;
}


.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff !important;
    text-align: left !important;
    padding-top:4px;
    line-height: 35px;
    float:left;
}

.time{
    width: 40px;
    float:left;
    margin-right: 3px;
    margin-left: 2px;
    border-radius: 5px;
    background: #f5f5f5;
}


.pag{
    width: 70px;
    float:left;
    margin-right: 3px;
    margin-left: 2px;
    border-radius: 5px;
    background: #f5f5f5;
}

.ui-widget select{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
     float:left;
    width: 55px;
    margin-right: 4px;
    margin-left: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: none;
    margin-right: 2px;
    font-size: 18px;
}

.select2-container--default .select2-selection--multiple {
    background-color: #63ba9c;
    border-radius: 4px;
    color: #fff !important;
    font-size: 28px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #63ba9c;
    cursor: default;
    float: left;
    color: #fff !important;
    margin-right: 5px;
    margin-top: 1px;
    font-size: 15px;
    padding: 0 5px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: #63ba9c;
    border: none;
    outline: 0;
    color:#fff;
    float:left;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    margin-top: 5px;
    color:#fff;
    float:left;
}

.fc-header-title h2 {
    margin-top: 0;
    white-space: nowrap;
    background:none;
    border:none;
    color:#63ba9c;
}

.fc-event-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*.fc-event-inner::before{
  content: url(clock.png);
}*/

.fc-event {
    border: 1px solid  #492566;
    background-color:  #492564;
    color: #fff;
    font-size: 20px;
}
.fc-state-highlight {
    background: #f3f3f3;
}

.cont_tab #calendar {
    width: 1000px;
    float:right;
    left:500px;
}
.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .ui-draggable .ui-resizable{
  height: 300px !important; 
  width: 500px !important; 
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    width: 282px !important;
    position: absolute;
    z-index: 1051;
}

