body {
    text-align: center;
}

.name{
	color:#63ba9c;
	font-size: 23px;

}



.div{
display:block;
width:500px;
height:500px;
background-size: cover;
border: 1px solid #ffffff;
border-radius:50%;
}


#submit_block { 
    background-color: #79198c;
    border: none;
    width: 300px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}



.avatar {
    display: block;
    width: 180px;
    height: 180px;
    background-size: cover !important;
    background-position: center center !important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    margin-top: -15px;
}




.corpo1{
	position: relative;
	width: 50%;
	float: left;
	border-right: 3px solid #D3D3D3;
	margin-bottom:20px;
}

.corpo2{
	position: relative;
	width: 49%;
	height: 50px;
	margin-top: 40px;
	float:left;

}


.corpo4{
	position: relative;
	width: 49%;
	height: 50px;
	margin-top: 0px;
	float:left;

}

#profile-container{
	display:block;
	width:600px;
	height:auto;
	margin-left: -300px;
	left:50%;
	position:absolute;
}

.object-profile{
	font-size: 20px;
	display:block;
	height:40px;
	width:100%;
	margin-top: 0px;
	margin-left: 0px;
	color:#BEBEBE;
	text-align: left;
}
.object-profile:first-child{
	color:#63ba9c;
}
.object-profile img {
    margin-left: 3px;
    width: 28px;
    height: 28px;
    margin-right: 4px;
    float: left;
}

.user_name {
    margin-top: 180px;
    font-size: 25px;
    margin-left: 60px;
}

#admin{
	color:#63ba9c;
	float: left;
	margin-left: 10px;

}

.block input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 300px;
    height: 190px;
    font-size: 15px;
    border: none;
    margin-left: 10px;
    
}

.user_telephone {
	margin-left: 35px;
}

.user_email{
	margin-left: 35px;
}


.user_telephone img{
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user_email img{
	width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

input[type="checkbox"] {
    color: #63ba9c;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 28px;
    margin-left: 5px;
    margin-top: 8px;
    padding: 10px 150px;
    text-align: right;
}

.tabs {
    background-color: #b8e6d6;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 0px;
    padding: 10px 0px 15px;
    color: #c5b2cf;
    text-decoration: none;
    width: 100%;
    height: 47px;
    text-align: center;
    margin-top: -37px;
}

html ul.tabs lu.active {
    background: #2dc29f;
    padding: 7px 0px;
    width: 50%;
    display: block;
}

.tabs_med {
    background-color: #b8e6d6;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 0px;
    padding: 10px 0px 15px;
    color: #c5b2cf;
    text-decoration: none;
    width: 20%;
    height: 47px;
    text-align: center !important;
}

html ul.tabs_med lu.active {
    background: #2dc29f;
    text-align: center !important;
    width:40%;
    display: block;
}

#tabs_med {
margin: 0px;
padding: 0px;
width:auto;
margin-top: -35px;
}
#tabs_med ul {
list-style-position: inside;
list-style-image: none;
list-style-type: none;
}
#tabs_med lu {
float:left;
display:block;
list-style-position: inside;
list-style-image: none;
list-style-type: none;
margin: 0px;

}
#tabs_med lu a{
margin: 0px;
display:block;
text-decoration: none;
text-align: center !important;
font-family: Arial, Helvetica, sans-serif;
color: #fff;

}