.med_text{
    text-align: center;
    color:#2dc29f;
}


.user_telephone {
	margin-left: 55px;
}
.user_email{
	margin-left: 55px;
}

h1 {
    color: #63ba9c;
    font-size: 32px;
    text-decoration: none;
    margin-left: 20px;
}

#consultas_user{
font-size: 32px;
text-align: center;
}

#classification{
color: #63ba9c;
float: right;
margin-right: 90px;
}

#admin {
    color: #63ba9c;
    float: left;
    margin-left: 100px;
}

.user_exames{
    background: #fafafa;
    width: 100%;
    color: #838B83;
    text-align:left;
    padding-left: 4px;
    box-shadow: inset 3px 3px 3px 0px #F5F5F5;
} 

.user_especialidades{
    background: #fafafa;
    color: #838B83;
     width: 100%;
    text-align:left;
     padding-left: 4px;
    box-shadow: inset 3px 3px 3px 0px #F5F5F5;
}

.user_places{
    background: #fafafa;
    color: #838B83;
    width: 100%;
    text-align:left;
     padding-left: 4px;
    box-shadow: inset 3px 3px 3px 3px #F5F5F5;
}

.user_telephone img{
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

.user_email img{
	width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

input[type="checkbox"] {
    color: #63ba9c;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 28px;
    margin-left: 20px;
    margin-top: -8px;
    padding: 10px 150px;
    text-align: right;
}

.block_med input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 400px;
    height: 290px;
    font-size: 15px;
    border: none;
    margin-left: 10px;
    
}
.avatar_med{
   display: block;
    width: 180px;
    height: 180px;
    background-size: cover !important;
    background-position: center center !important;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: right;
    margin-right: 110px;
    margin-top: -15px;
}


.user_crm img{
    display: block; 
    max-width:200px;
    max-height:180px;
    width: auto;
    height: auto;
    float:left;
    margin-right: 40px;
    margin-left: 20px;
}

.user_crm{
    color:#2dc29f;
    float:left;
    
    margin-left: 20px;
}

.user_adress{
     display: block; 
     width:180px; 
     height:180px;
     background-size: cover !important;
     background-repeat: no-repeat;
     border: 1px solid #ffffff;
     float:left;
     margin-right:15px;
     margin-top:-15px;
}

.container{
    white-space: nowrap;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    float: none;

}

.table_adm
{
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;

}

.table_adm td
{
    width: 20%;
    height: 40px;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    border-right: 2px solid gray;
}

.table_adm td:last-child{
    border: none;

}
.rating_med img{
    width:28px;
    height:28px;
}

.rating_med {
 margin-left: 50px;
}

#submit_med { 
    background-color: #79198c;
    border: none;
    width: 410px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}



#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
 
    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.tabs {
    background-color: #b8e6d6;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 0px;
    padding: 10px 0px 15px;
    color: #c5b2cf;
    text-decoration: none;
    width: 100%;
    height: 47px;
    text-align: center;
    margin-top: -37px;
}

html ul.tabs lu.active {
    background: #2dc29f;
    padding: 7px 0px;
    width: 50%;
    display: block;
}