html{
	height: 100%
}

body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%; 
}

*:focus{
  outline: none;
}

  h2 {
    font-size: 30px;
    color: #fff;
    background-color: #8d599e;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 0px 15px;
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #492566;
} 

.imagens_user img{
    width: 22px;
    height: 22px;
}

 
.busca_user input[type="text"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 400px;
    height: 41px;
    font-size: 18px;
    margin-top: 5px;
    border: none;
    text-align: left;
    margin-right: 37%;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.busca_checks{
  margin-right: 33%;
}

.preto {
    background: #111;
    width: 100%;
    height: 13px;
    margin-top: -2px;
}

.busca_user label {
    display: inline-block !important;
    margin-left: 0.5em  !important;
    margin-right: 2em !important;
    line-height: 1em !important;
    color: #63ba9c;
}

.busca_user input[type="checkbox"]{
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
 
.but {
background-color: #63ba9c;
color: #fff;
padding: 11px 85px;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
margin-top: 45px;
border:none;
}

.but3 {
background-color: #63ba9c;
color: #fff;
padding: 11px 86px;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
margin-top: 45px;
border:none;
}


.face {
    background: url(facebook.png) no-repeat;
    padding: 10px 110px 50px;
    border: none;
    margin-top: 4px;
    margin-left: 724px;
}

.cont_tab{
  width: 1090px;
  margin:auto;
}


h7{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: none;
	text-decoration: underline;

}

h3{
  color:#63ba9c;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 16px;
}

h4{
  color:#fff;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 20px;
    text-decoration: underline;
}

input[type="email"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 420px;
    height: 42px;
    font-size: 21px;
    text-align: left;
    padding: 5px !important;
    border: none;
    text-align: left;
}


input[type="password"] {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    width: 297px;
    height: 42px;
    font-size: 21px;
    text-align: left;
    padding: 5px !important;
    border: none;
    text-align: left;
}

.but2 {
display: inline-block;
background-color: #6c368a;
color: #fff;
padding: 20px 20px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 26px;
border: 0px;
}

ol{
	margin-top: -62px;
	margin-left: -5px;
  margin-right: -22px;
}
.senha2{
	ol{
	margin-top: -10px;
  margin-left: -5px;
  margin-right: -22px;
}

 a{
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  padding-bottom: 0;
  }
}
.senha{
 a{
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  padding-bottom: 0;
  }
}

.tabs{
background-color: #492566;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
border: 0px;
padding: 10px 0px 15px;
color: #c5b2cf;
text-decoration: none;
width: 100%;
height:47px;
margin-top: 37px;
}

html ul.tabs lu.active {
	background: #8d599e;
	padding: 7px 0px ;
	width: 50%;
  display: block;
}

ul.tabs lu a {
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

ul.tabs lu {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 7px 0px;
  color: #c5b2cf;  
  border: 0px;
  width: 50%;
  display: inline-table;
}
ul.tabs lu:first-child {
float:left;
}
ul.tabs lu:nth-child(even) {
float:right;
}
ul.tabs lu:last-child {
float:right;
}


.campos{
  margin-top: -20px;
}

.fundo2{
	  background: url(medko.png) no-repeat center center fixed; 
  -webkit-background-size: cover fixed ;
  -moz-background-size: cover fixed;
  -o-background-size: cover fixed; 
  background-size: cover;
  height: 100%;
   width: 100%;
  margin-top: -20px;
}
.fundo3{
    background: url(medko.png) no-repeat center center fixed; 
  -webkit-background-size: cover fixed ;
  -moz-background-size: cover fixed;
  -o-background-size: cover fixed; 
  background-size: cover;
  height: 100%;
   width: 100%;
  margin-top: -25px;
}

.new_user{
	height: 100%;
}
.topo{
	position: fixed;
  top: 0;
  left: 0;
}


.titulos_user{
  background-color: #545454;
  color:#fff;
}

.button_adm{
background-color: #63ba9c;
border:none;
position:absolute;
right: 1px;
top:95px;
margin-top: 4px;
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
color:#fff;
padding: 11px 5px;
}

h1 {
    color: #DCDCDC;
    margin-top: 10px;
}

#editar_adm {
    color: #DCDCDC;
    margin-top: 7px;
    margin-left: 7px;
    font-size:30px;
}

.bot_adm img{
background-color: #63ba9c;
float:right;
width:23px;height:23px;
margin-right:185px;
margin-top:3px;
border-right: 1px solid #fff;
padding: 11px 10px;
}
.table td:hover {
    font-weight: normal;
}