<%= stylesheet_link_tag "search", media: "all" %>
 
<div id ="list_medicos">

<div id= "verde"><h3>Lista de medicos</h3></div>

<div class="pretofino"></div>

<table class="table table-striped" id="medicos_list">   
  <tbody>
     <% @service_windows.each do |service_windows| %>
       <tr style= "cursor:pointer", class="rows">  
         <td>
            <div class="name_medico">
                <img src="/assets/med.png"/>
            <input type="hidden" id="user" name="service_window[user]" value="<%=service_windows.user_id%>"/>
             <%= link_to service_windows.user.try(:name), user_path(service_windows.user_id)%><br>
            </div>
                <%= service_windows.exam_type.try(:name)%> |
                <%= service_windows.speciality.try(:name)%>
         </td>

          <% if  service_windows.user.try(:rating) == true%>
           <td>
           <div class ="rating"><%= render_stars(service_windows.user.media)%></div>
           </td>
          <% else%>
           <td>
           </td>
          <%end%> 
          
        <td>
            <input type="hidden" id="id_service" name="service_window[id]" value="<%=service_windows.id%>"/>
            <div class= "data_attendence">
            <img src="/assets/clock.png"/> 
            <%= service_windows.take_time[0].strftime("%d/%m/%Y - %H:%M")%>
           </div>
        </td>

         <td>
            <div class ="local_attendece">
              <img src="/assets/ponteiro.png"/>
              <input type="hidden" id="place" name="service_window[place]" value="<%=service_windows.place_id%>"/>
              <%= service_windows.place.try(:name)%><br>
            <div class="address_attendence"> <%= service_windows.place.try(:address)%></div>
            </div> 
         </td>

         <% if service_windows.health_plan_ids.any? %>
            <td class ="health_attendece">
             <%= service_windows.health_plan.collect(&:name).join(", ")%>
            </td>    
          <%else%>  
             <td class ="value_attendece"> 
              <input type="hidden" id="value" name="service_window[value]" value="<%=service_windows.value%>"/>
              R$ <%= service_windows.value%>
          </td>  
        <%end%>  
      </tr>
    <%end%>   
  </tbody>
</table>
</div>

<script type="text/javascript">

  
$('tr').on("click", function() {
          var speciality = getUrlVars()["speciality"];
          var payment =  getUrlVars()["payment"];
          var health_plan = getUrlVars()["health_plan"];
          var exam =  getUrlVars()["exam"];
          var speciality = getUrlVars()["speciality"];
          var attendence_type = getUrlVars()["attendence_type"];
          var place = $(this).closest('tr').find("#place").val();
          var value = $(this).closest('tr').find("#value").val();
          var doctor = $(this).closest('tr').find("#user").val();
          var id = $(this).closest('tr').find("#id_service").val();

          $.ajax({
              type: "post",
              url:"/attendence/create_attendences",
              data: {payment,health_plan,exam,speciality,attendence_type,place,value,doctor,id},
              success: function (data){

            }
          });
      });

</script>
