  <%= stylesheet_link_tag "attendences", media: "all" %>
<div id="profile-container">
    <h1 id="consultas">Consulta:</h1>

<!-- Avatar e dados abaixo dele //-->
    <div class ="corpo3">
      <br>
      <div class ="avatar_show" style="background:url(<%= @attendence.patient.avatar.url %>);">
        <div class ="avatar_down"><div class ="paciente_nome"><%= link_to @attendence.patient.try(:name),user_path(@attendence.patient_id)%><br></div>
        <%= @attendence.exam_type.try(:name)%>|<%= @attendence.speciality.try(:name)%></div>
      </div>
    </div>

<!-- Plano de saude e pagamento //-->

        <div class ="corpo4">
        <% if @attendence.health_plan_id == nil && @attendence.place_id != nil %>
          <div class ="object-profile"><img src="/assets/pagamento.png"/> R$ <%= @attendence.service_window.try(:value) %></div>
        <% elsif @attendence.health_plan_id != nil && @attendence.place_id != nil  %>
           <div class ="object-profile"><img src="/assets/pagamento.png"/> <%= @attendence.health_plan.try(:name) %></div>
        <% end %>

        <% if  @attendence.place_id == nil %>
          <div class ="object-profile"><img src="/assets/pagamento.png"/> R$ <%= @attendence.doctor.try(:value_home_care) %></div>
        <% end %>


<!-- Mostrar nome do local ou endereço //-->
         <div class ="object-profile"><img src="/assets/ponteiro.png"/>
            <% if @attendence.place_id == nil %>
               Domicilio
               <div class= "consulta_local"><%=@attendence.search_address.try(:address)%></div>
            <% else %>  
            <div class= "consulta_local2"> <%= @attendence.place.try(:name) %> </div>
            <div class= "address_local"> <%=@attendence.place.try(:address)%></div>
              <% end %>
         </div>

<!-- Mostrar data e horario da consulta //-->
 <% if  @attendence.date != nil %> 
        <div class ="object-profile"><br>
          <img src="/assets/clock.png"/>
          <%= @attendence.date.strftime("%d/%m/%Y - %H:%M") %>
        </div><br><br>
<% end %>

<!-- Botões //-->
 <% if  @attendence.date != nil %> 
        <% if @attendence.date < DateTime.now  && @attendence.attendence_status_id == 1 %>
          <input type="button" value="Finalizar consulta" class="finalizar"></input> 
        <% end %>
        <% if @attendence.date > DateTime.now && @attendence.attendence_status_id == 1  %>
          <input TYPE="BUTTON" NAME="submit" value="Cancelar" class="cancelar" >
        <% end %>
<% end %>
<!-- Mensagens dos status //-->
              <%if @attendence.attendence_status_id == 2 %>
               <br>
                <hr width=100% shade style ="margin-left:35px, color:gray" >
                <h1 style ="margin-left:15px" > Atendimento finalizado </h1>
              <%end%>

              <% if @attendence.attendence_status_id == 3 %>
               <br>
                <hr width=90% shade style ="margin-left:35px, color:gray" >
                <h1> Atendimento cancelado </h1>
              <%end%>

              <% if @attendence.attendence_status_id == 4 %>
               <br>
                 <hr width=80% noshade style ="margin-left:35px" >
                <h1> Aguardando confirmação do pagamento </h1>
              <%end%>

              <% if @attendence.attendence_status_id == 5 %>
               <br>
                   <hr width=80% noshade style ="margin-left:35px" >
                <h1> Pagamento confirmado </h1>
             <%end%>

                <% if @attendence.attendence_status_id == 7 %>
                   <br>
                   <hr width=80% noshade style ="margin-left:35px" >
                <h1> Aguardando confirmação do paciente </h1>

             <%end%>

</div>

<script type="text/javascript">
    $(".finalizar").on("click", function() {
          var id = '<%= @attendence.id %>';

          $.ajax({
             type: "post",
             url: "/attendence/confirm",
             data: {attendence: {id}},
             success: function (){
             window.location.reload()
             }
          });
      });

      $(".cancelar").on("click", function() {
          var id = '<%= @attendence.id %>';

          $.ajax({
              type: "post",
              url: "/attendence/cancel",
              data: {attendence: {id}},
              success: function (){
              window.location.reload()
             }
          });
      });
</script>
   