  <%= stylesheet_link_tag "attendences", media: "all" %>

<% if current_user.account_type_id == 1%>
<div class= "consul"><b> Histórico</b> </div>
<% end %>

<% if current_user.account_type_id == 3%>
<div class= "consul">Consultas </div>
<% end %>

  <br><br><br>
  <div class="preto"> </div>
  <br>

    <%= form_tag attendences_path, :method => 'get', :id => "attendences_search", remote: true do %>
    <div class ="busca_datas"> 
      <div class ="busca_inico"> Inicio</div> <%= text_field_tag :inicio, params[:inicio]%><img src="/assets/calendar.png"/>
  
       <div class ="busca_inico"> Fim</div>  <%= text_field_tag :fim, params[:fim]%><img src="/assets/calendar.png"/>
    </div>
    <%= text_field_tag :search, params[:search], :autocomplete => :off, :placeholder =>"Pesquisar"%>
     <div class="search-booton">
     <button id="search-botão" type="submit"><span>Buscar</span></button></div>
    <% end %><br>

<div id="attendences">
<% if current_user.account_type_id == 1 %>
    <%= render 'attendences/user' %>
<% end %>

<% if current_user.account_type_id == 2%>
    <%= render 'attendences/adm' %>
<% end %>

<% if current_user.account_type_id == 3%>
    <%= render 'attendences/user' %>
<% end %>
</div>
