<%= stylesheet_link_tag "search", media: "all" %>
<%= javascript_include_tag "attendences" %>

  <div class ="mensagem_fail">
    <% flash.each do |notice, msg| %>
      <%= content_tag(:div, msg, class: "notice notice-#{notice}") %>
    <% end %>
  </div>

 <%= form_tag attendence_search_path, :method => 'post', :id => "attendence_search",remote: true do %>

    <h1>Procurar atendimento</h1>
    <div class="preto"> </div>

      <h4 class="procurar">Procurar médico</h4>
  
    <div class ="campos_busca">

       <div class="field">
       <div class="labels_tags">Local</div>
        <%= select_tag "attendence_type", options_from_collection_for_select(@attendence_type, "id", "name",params[:attendence_type].to_i),:id => "local",include_blank: true%>
      </div><br>
       
      <div class="field">
       <div class="labels_tags">Tipo</div>
         <%= select_tag "tipo", "<option>Consulta</option><option>Exame</option>".html_safe,id:'type',include_blank: true,:required => true%>
      </div><br>
        
      <div id="plan_options">
      <div class="labels_tags">Plano</div>
         <%= select_tag "plan", "<option>Particular</option><option>Plano</option>".html_safe,id:'plan',include_blank: true%>
      </div><br>

      <div id="pagamento">
      <div class="labels_tags">Pagamento</div>
         <%= select_tag "payment_method", options_from_collection_for_select(@payment_method, "id", "name",params[:payment].to_i), include_blank: true, class:'pagamento',:id => "payment"%>
      </div><br>
          
       <div id="plano">
       <div class="labels_tags">Plano de saúde</div>
          <%= select_tag "health_plan", options_from_collection_for_select(@health_plan, "id", "name",params[:health_plan].to_i), include_blank: true,class:'plano',:id => "health_plan"%>
      </div><br>
       
      <div id="especialidade" hidden="true">
       <div class="labels_tags">Especialidade</div>
        <%= select_tag "speciality", options_from_collection_for_select(@speciality, "id", "name",params[:speciality].to_i), include_blank: true,class:"especialidade",:id => "speciality" %>
      </div><br>
      <br>
      <div id="especialidade2" hidden="true">
       <div class="labels_tags">Especialidade</div>
        <%= select_tag "speciality", options_from_collection_for_select(@speciality.where(home_care:true), "id", "name",params[:speciality].to_i), include_blank: true, class:"especialidade",:id => "speciality2" %>
      </div><br>
        
      <div id="exame" hidden="true">
      <div class="labels_tags">Exames</div>
        <%= select_tag "exam_type", options_from_collection_for_select(@exam_type, "id", "name",params[:exam].to_i), include_blank: true,class:"exame",:id => "exam"%>
      </div><br>
        <br>
         <div id="exame2" hidden="true">
      <div class="labels_tags">Exames</div>
        <%= select_tag "exam_type", options_from_collection_for_select(@exam_type.where(home_care:true), "id", "name",params[:exam].to_i), include_blank: true,class:"exame",:id => "exam2"%>
      </div><br>
        
 
  <br>

  </div>

        <div id="urgencia" hidden="true"> 
       Em caso de urgência, ligue <b>192</b> 
       </div>
      
      <input type='submit' name='submit' value='Proxímo' onclick='addParam()' class="next" />
  
<script type="text/javascript">

  function addParam() {
    var link = window.location.href
    var payment =  $('#payment').val();
    var health_plan = $('#health_plan').val();
    var exam_home =  $('#exam2').val();
    var exam =  $('#exam').val();
    var speciality = $('#speciality').val();
    var speciality_home = $('#speciality2').val();
    var attendence_type = $('#local').val(); 
    window.location = "/search_addresses/new?exam=" + exam + "&payment=" + payment + "&speciality=" + speciality + "&exam_home=" + exam_home + "&speciality_home=" + speciality_home + "&health_plan=" + health_plan + "&attendence_type=" + attendence_type 
  }

    $('#plan').on('change', function() {
    $('#pagamento').toggle(this.value =='Particular');
    $('#plano').toggle(this.value=='Plano');
});
    $('#local').change(function() {
    $('#urgencia').toggle(this.value =='1');
    $('#pagamento').toggle(this.value =='2');
    $('#plano').toggle(this.value =='2');
    $('#plan_options').toggle(this.value =='2');

    if (this.value =='2'){
          $('#type').on('change', function() {
          $('#especialidade').toggle(this.value=='Consulta');
          $('#exame').toggle(this.value=='Exame');
          $('#especialidade2').hide(this.value =='Exame');
          $('#exame2').hide(this.value=='Consulta');
      })}   
    else {
          $('#type').on('change', function() {
          $('#especialidade2').toggle(this.value=='Consulta');
          $('#exame2').toggle(this.value=='Exame');
          $('#especialidade').hide(this.value =='Exame');
          $('#exame').hide(this.value=='Consulta');
      })
    }      
  });
    

</script>

  <% end %>







