<%= stylesheet_link_tag "places", media: "all" %>
<div class="locais_titulo"><h1>Locais de Atendimentos</h1></div>

<div class="preto"> </div>
 
	<table class="table table-striped">
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td> <%= link_to image_tag("/assets/multimedia.png"),edit_place_path(place) %></td>
        <td><%= link_to image_tag("/assets/garbage.png"), place, method: :delete, data: { confirm: 'Tem certeza? Todos as seus consultas e suas janelas de atendimento neste local também serão deletados.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="topo">
  
</div>

<div class="bot">
  <img src="/assets/new.png">
  <%= link_to 'Novo local de atendimento', new_place_path%>
</div>





