<%= stylesheet_link_tag "menu", media: "all" %>

<div class ="barra">
<div class = mdkobranco>
<img src="/assets/medko-full-white.png">
</div>
<ul class ="menu">
  <lu> <%= link_to('Procurar Atendimento', attendence_search_path) %> </lu>
  <lu> <%= link_to'Histórico de atendimentos', attendences_path%> </lu>
  <lu> <%= link_to'Perfil', edit_user_path(current_user),:method =>:get %> </lu>
  <lu> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </lu>
</ul>
</div>
