<%= stylesheet_link_tag "menu", media: "all" %>

<div class ="barra">

  <div class = mdkobranco>
<img src="/assets/medko-full-white.png">
</div>

<ul class ="menu">
  <lu> <%= link_to('Especialidades', specialities_path) %> </lu>
  <lu> <%= link_to('Exames', exam_types_path) %> </lu>
  <lu> <%= link_to('Usuários', users_path) %> </lu>
  <lu> <%= link_to('Financeiro', payments_path) %> </lu>
  <lu> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </lu>
</ul>
</div>
