<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCWInM5wvAXB8YE2vGKMOHt2YCMg6_GDyU"></script>


<!DOCTYPE html>

<html>
<head>
  <title>Medko</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in?%>
    <%= render 'layouts/header' %>

<% if current_user.account_type_id == 1 %>
    <%= render 'layouts/menu_paciente' %>
<% end %>

<% if current_user.account_type_id== 2%>
    <%= render 'layouts/menu_adm' %>
<% end %>

<% if current_user.account_type_id == 3%>
    <%= render 'layouts/menu_medico' %>
<% end %>

<% else %>
  <%= render 'layouts/no_session_header' %>
<% end %>

<%= yield %>

</body>
</html>
