<%= stylesheet_link_tag "paciente_cadastro", media: "all" %>
<%= stylesheet_link_tag "medico_cadastro", media: "all" %>


<% if @user.account_type_id == 3 %>
<div class="cont_tab" id="Medico" >
<%= render "devise/registrations/medico" %>
</div><% end %>

<% if @user.account_type_id == 1 %>
<div class="cont_tab" id="Paciente">
<%= render "devise/registrations/paciente" %>
</div>
<% end %>




