<%= stylesheet_link_tag "paciente_cadastro", media: "all" %>

<div id="topo">
  <img src="/assets/medko-02.png">
</div>

<h2> Registre-se </h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {multipart: true}) do |f| %>

 <div class="fundo">

<div class ="campos">
<br>
<h1> Dados Pessoais </h1>
 
    
      <label class="custom-file-input" for="user_avatar" ></label>
      <input type="file" id="user_avatar" onchange="readURL(this);" name="user[avatar]" class="custom-file-input" style="visibility: hidden"/>
          <div id="icon" >
            <img id="avatar_show" src="/assets/user.png"/>
          </div>

<div class="field">
    <%= f.text_field :name,:placeholder => "Nome", :required => true %>
  </div>
  
 <div class="field">
    <%= f.text_field :telephone, :placeholder => "Telefone", :required => true %>
  </div>

     <div class="field">
    <%= f.email_field :email, :placeholder => "E-mail", :required => true%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Senha"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => "Confirmar Senha"%>
  </div>
 <br>
<button class="but2" type="submit">Cadastrar</button>
<h3> Ao criar uma conta você concorda com nossos</h3><a href="nome-do-lugar-a-ser-levado">termos e condiçoes e politicas de privacidade</a>
<div>

      <div class="hidden_field">
   <input type="hidden" id="account_type_id" name="user[account_type_id]" value="1" />
  </div>

    <div class="hidden_field">
   <input type="hidden" id="active" name="user[active]" value="true" />
  </div>
 <br>
  <% end %>

</div>
